/0.8.5 — kopia
/JSGMODS
/logs
/replays
/res
/res_bw
/screenshots
/Updates

/7z.dll
/DeltaMAX.dll
/dokanctl.exe
/fmod_event_net.dll
/fmodex.dll
/Influx_PS.log
/JoneSoft.txt
/JSGME.exe
/JSGME.ini
/libcurl.dll
/libeay32.dll
/ssleay32.dll
/umbraob32.dll
/unins000.dat
/libsndfile-1.dll
/Licenses.txt
/NxCooking.dll
/ortp.dll
/paths.xml
/PhysXLoader.dll
/python.log
/readme.url
/vivoxoal.dll
/vivoxplatform.dll
/vivoxsdk.dll
/voip.dll
/website.url
/wg_cleaner_client_patch.dll.killme
/World of Tanks Game Manual.pdf
/unins000.exe
/uwApi.dll
/version.xml
/WOTLauncher.log
/WOTLauncher.log.bak
/XVM.log
/WorldOfTanks.exe
/WOTLauncher.cfg
/WOTLauncher.exe
/zlib1.dll
